@font-face {
    font-family: 'Literata Bold';
    src: url("../assets/fonts/Literata-Bold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'Literata Bold Italic';
    src: url("../assets/fonts/Literata-BoldItalic.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'Literata Italic';
    src: url("../assets/fonts/Literata-Italic.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Literata';
    src: url("../assets/fonts/Literata-Regular.ttf");
    font-weight: 400;
}

@font-face {
	font-family: 'Inter Bold';
	src: url("../assets/fonts/Inter-Bold.ttf");
	font-weight: 600;
}

@font-face {
	font-family: 'Inter';
	src: url("../assets/fonts/Inter-Regular.ttf");
	font-weight: 400;
}

:root {
    --color-black: #000000;
    --color-gray: #676767;
    --color-white: #ffffff;
    --color-light: #F6F6F6;
    --color-dark: #302718;
    --color-brown: #683B2b;
}

html {
    scroll-behavior: smooth;
    background-color: var(--color-light);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.scrollblock {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: unset;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--color-dark);
    margin: 0;
}

h2 {
    font-family: 'Literata Bold Italic';
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 10px;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--color-dark);
    margin: 0;
    margin-bottom: 25px;
}

.button {
    background-color: var(--color-light);
    padding: 5px 10px;
    border: solid 2px var(--color-brown);
    border-radius: 5px;
    color: var(--color-dark);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    width: 115px;
}

.button:hover {
    border: solid 2px var(--color-dark);
    font-weight: 600;
    font-size: 16px;
}

.circle-btn {
    flex: 0 0 52px;
    padding: 23px 19px;
    width: 52px;
    height: 52px;
    background-color: transparent;
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    color: var(--color-dark-3xl);
}

.circle-btn:hover {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
    cursor: pointer;
}

.content-wrapper {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
}

/* ---------- Header ---------- */

.header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px 40px 7px;
    background-color: var(--color-light);
    border-bottom: solid 3px var(--color-brown);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.header__logo-img {
    flex: 0 0 70px;
    height: 80px;
    background-image: url("../assets/icons/books.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.header__title {
    flex: 0 0 300px;
}

.header__title h1 {
    font-family: "Literata Bold";
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.02em;
    text-align: center;
}

.header__title h3 {
    font-family: "Literata Italic";
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: var(--color-brown);
}

.header__bag {
    flex: 0 0 54px;
    height: 80px;
    background-image: url("../assets/icons/shopping-bag.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* ---------- Main ---------- */

.main {
    display: flex;
    align-items: flex-start;
}

/* ---------- Shopping Bag ---------- */

.shopping-bag {
    flex: 0 0 250px;
    order: 2;
    position: sticky;
    top: 100px;
    right: 0;
    padding: 10px;
    border-left: solid 3px var(--color-brown);
    border-right: solid 3px var(--color-brown);
    border-bottom: solid 3px var(--color-brown);
}

.shopping-bag h3 {
    font-family: "Literata Italic";
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: var(--color-brown);
    margin-bottom: 20px;
}

.shopping-bag p {
    text-align: center;
    color: gray;
}

/* ---------- Catalog Section ---------- */

.catalog {
    order: 1;
    width: 100%;
    padding: 40px 20px;
}

.title-line {
    width: 100px;
    margin: 0 auto;
    height: 3px;
    background-color: var(--color-brown);
    margin-bottom: 30px;
}

.books-container {
    margin: 0 auto;
    padding: 20px 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 7px;
    width: 200px;
    height: 400px;
}

.book-cover {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
    height: 200px;
    width: auto;
    margin: 0 auto 15px;
    cursor: pointer;
}

.book-title {
    font-family: 'Inter Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: var(--color-dark);
    text-align: center;
}

.book-author {
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: var(--color-brown);
    text-align: center;
}

.book-price {
    font-family: 'Literata Italic';
    font-style: italic;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: var(--color-dark);
    text-align: center;
}

.book-price span {
    font-family: 'Literata Bold Italic';
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: var(--color-dark);
}

/* ---------- Footer ---------- */

.footer {
    background-image: url(../assets/images/books.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}