@font-face {
    font-family: 'Literata Bold';
    src: url("../assets/fonts/Literata/static/Literata/Literata-Bold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'Literata Bold Italic';
    src: url("../assets/fonts/Literata/static/Literata/Literata-BoldItalic.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'Literata Cursive';
    src: url("../assets/fonts/Literata/static/Literata/Literata-Italic.ttf");
    font-weight: 400;
}

:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-light: #F6F6F6;
    --color-dark: #302718;
    --color-brown: #683B2b;
}

html {
    scroll-behavior: smooth;
    background-color: var(--color-light);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.scrollblock {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: unset;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--color-dark);
    margin: 0;
}

h2 {
    font-family: 'Literata Bold Italic';
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 30px;
}

p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--color-dark);
    margin: 0;
    margin-bottom: 25px;
}

.button {
    background-color: var(--color-primary);
    border-radius: 100px;
    padding: 15px 45px;
    color: var(--color-dark-3xl);
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-align: center;
}

.button:hover {
    background-color: var(--color-primary-light);
}

.circle-btn {
    flex: 0 0 52px;
    padding: 23px 19px;
    width: 52px;
    height: 52px;
    background-color: transparent;
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    color: var(--color-dark-3xl);
}

.circle-btn:hover {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
    cursor: pointer;
}

.content-wrapper {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


section {
    width: 100%;
    padding: 40px;
}

/* ---------- Header ---------- */

.header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 20px 40px 7px;
    background-color: var(--color-light);
    border-bottom: solid 5px var(--color-brown);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.header__logo {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.header__logo-img {
    flex: 0 0 100px;
    height: 120px;
    background-image: url("../assets/icons/books.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.header__title {
    flex: 0 0 400px;
}

.header__title h1 {
    font-family: "Literata Bold";
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 0.03em;
    text-align: center;
}

.header__title h3 {
    font-family: "Literata Cursive";
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: var(--color-brown);
}

.header__cart {
    flex: 0 0 80px;
    height: 120px;
    background-image: url("../assets/icons/shopping-bag.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* ---------- Catalog Section ---------- */

.books-container {
    margin: 0 auto;
    padding: 20px 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.book-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 400px;
}

.book-cover {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* ---------- Footer ---------- */

.footer {
    background-image: url(../assets/images/books.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}