@font-face {
    font-family: 'Literata Bold';
    src: url("../assets/fonts/Literata-Bold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'Literata Bold Italic';
    src: url("../assets/fonts/Literata-BoldItalic.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'Literata Italic';
    src: url("../assets/fonts/Literata-Italic.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Literata';
    src: url("../assets/fonts/Literata-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Inter Bold';
    src: url("../assets/fonts/Inter-Bold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/Inter-Regular.ttf");
    font-weight: 400;
}

:root {
    --color-black: #000000;
    --color-gray: #676767;
    --color-white: #ffffff;
    --color-light: #F6F6F6;
    --color-dark: #302718;
    --color-brown: #683B2b;
}

html {
    scroll-behavior: smooth;
    background-color: var(--color-light);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.scrollblock {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: unset;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--color-dark);
    margin: 0;
}

h2 {
    font-family: 'Literata Bold Italic';
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 10px;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--color-dark);
    margin: 0;
    margin-bottom: 25px;
}

.button {
    background-color: var(--color-light);
    padding: 5px 10px;
    border: solid 2px var(--color-brown);
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    color: var(--color-dark);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    width: 115px;
}

.button:enabled:hover {
    border: solid 2px var(--color-dark);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
    font-weight: 600;
    font-size: 16px;
}

.content-wrapper {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
}

/* ---------- Header ---------- */

.header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px 40px 7px;
    background-color: var(--color-light);
    border-bottom: solid 3px var(--color-brown);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.header__logo-img {
    flex: 0 0 70px;
    height: 80px;
    width: 70px;
    background-image: url("../assets/icons/books.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.header__title {
    flex: 0 0 300px;
}

.header__title h1 {
    font-family: "Literata Bold";
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.02em;
    text-align: center;
}

.header__title h3 {
    font-family: "Literata Italic";
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: var(--color-brown);
}

.header__bag {
    flex: 0 0 54px;
    height: 80px;
    background-image: url("../assets/icons/shopping-bag.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* ---------- Main ---------- */

.main {
    display: flex;
    align-items: flex-start;
}

/* ---------- Shopping Bag ---------- */

.shopping-bag {
    flex: 0 0 250px;
    order: 2;
    position: sticky;
    top: 100px;
    right: 0;
    padding: 10px 5px;
    border-left: solid 3px var(--color-brown);
    border-right: solid 3px var(--color-brown);
    border-bottom: solid 3px var(--color-brown);
}

.shopping-bag h3 {
    font-family: "Literata Italic";
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: var(--color-brown);
    margin-bottom: 20px;
}

.shopping-bag p {
    text-align: center;
    color: gray;
}

.shopping-bag .button {
    display: block;
    margin: 0 auto;
    width: 130px;
}

.shopping-bag__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 5px;
    margin-bottom: 20px;
}

.item__img {
    width: 60px;
    height: auto;
}

.item__title-author {
    width: 110px;
}

.item__title {
    font-family: 'Inter Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: var(--color-dark);
    text-align: left;
}

.item__author {
    font-family: 'Inter';
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--color-brown);
}

.item__price {
    width: 30px;
    font-family: 'Literata Bold Italic';
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: var(--color-dark);
}

.remove {
    flex: 0 0 20px;
    width: 20px;
    height: 20px;
    background-image: url(../assets/icons/close.svg);
    filter: invert(9%) sepia(10%) saturate(3108%) hue-rotate(359deg) brightness(90%) contrast(83%);
    background-size: 10px 10px;
    background-position: center;
    background-repeat: no-repeat;
}

.remove:hover {
    background-size: 12px 12px;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 3px;
    background-color: var(--color-brown);
    margin-bottom: 10px;
}

.total {
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

/* ---------- Catalog Section ---------- */

.catalog {
    order: 1;
    width: 100%;
    padding: 40px 20px;
}

.title-line {
    width: 120px;
    margin: 0 auto;
    height: 3px;
    background-color: var(--color-brown);
    margin-bottom: 30px;
}

.books-container {
    margin: 0 auto;
    padding: 20px 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 70px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* row-gap: 7px; */
    width: 200px;
    height: 410px;
    /* border: solid 1px var(--color-dark); */
}

.book-cover {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
    height: 200px;
    width: auto;
    margin: 0 auto 15px;
    cursor: pointer;
}

.book-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110px;
}

.book-title {
    font-family: 'Inter Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: var(--color-dark);
    text-align: center;
    /* height: 55px; */
}

.book-author {
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: var(--color-brown);
    text-align: center;
}

.book-price {
    font-family: 'Literata Italic';
    font-style: italic;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: var(--color-dark);
    text-align: center;
}

.book-price span {
    font-family: 'Literata Bold Italic';
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: var(--color-dark);
}

.book-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

/* ---------- Popup Window ---------- */

.popup-shadow {
    opacity: 0;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
    background-color: rgba(41, 41, 41, 0.6);
}

.popup-shadow.active {
    opacity: 1;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.popup {
    display: none;
    transition: all 1s ease 0s;
    background-color: var(--color-light);
    border-radius: 9px;
}

.popup.open {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    left: calc((100vw - 900px) / 2);
    top: calc((100vh - 500px) / 2);
    width: 900px;
    height: 500px;
    z-index: 2;
}

.close {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    border: 2px solid var(--color-black);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 9px;
    background-image: url(../assets/icons/close.svg);
    filter: invert(25%) sepia(5%) saturate(4891%) hue-rotate(329deg) brightness(95%) contrast(90%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
    position: fixed;
    left: calc((100vw + 900px) / 2 - 45px);
    top: calc((100vh - 500px) / 2 + 5px);
    transition: 0.3s;
    cursor: pointer;
}

.close:hover {
    background-size: 17px 17px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
    filter: invert(9%) sepia(10%) saturate(3108%) hue-rotate(359deg) brightness(90%) contrast(83%);
}

.popup__img {
    flex: 0 0 500px;
    width: 500px;
    height: 470px;
    background-image: url(../assets/images/DavidHerman_Effective_JavaScript.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.popup__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    padding: 50px 20px 10px 30px;
    color: var(--color-black);
}

/* ---------- Checkout ---------- */

.checkout {
    padding: 40px 20px;
}

.hide {
    display: none;
}

#checkout__form {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 3px solid var(--color-brown);
    border-radius: 7px;
}

.form__field p {
    margin-bottom: 5px;
}

#checkout__form legend {
    font-family: 'Literata Bold Italic';
    color: var(--color-brown);
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
}

#checkout__form fieldset {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 10px;
}

#checkout__form .personal label,
#checkout__form .address label {
    padding-right: 10px;
    width: 30%;
    min-width: 110px;
    float: left;
    text-align: right;
}

#checkout__form .personal input,
#checkout__form .address input {
    width: 70%;
}

#checkout__form .payment {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#checkout__form .gift {
    width: fit-content;
    margin: 0 auto;
}

#checkout__form input.red {
    border: solid 1px red;
}

#checkout__form div.error {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

#checkout__form .buttons {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* ---------- Footer ---------- */

.footer {
    border-top: solid 3px var(--color-brown);
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer__year {
    font-family: "Literata Italic";
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: var(--color-black);
}

.footer__github-logo {
    width: 48px;
    height: auto;
}

.footer__rss-logo {
    width: 140px;
    height: auto;
}